# --- BACKEND (Java/Spring Boot) ---
/backend/target/
/backend/.idea/
/backend/.vscode/
*.iml
*.log

# --- FRONTEND (Angular) ---
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
/frontend/.vscode/

# --- Sistema ---
.DS_Store
Thumbs.db
